<h2><%= current_player.name %></h2>
<h3>Set Count: <%= current_player.set_count %></h3>

<h3>Current Player hand:</h3>

<ul>
  <% current_player.hand.each do |card| %>
    <li><%= card.color %></li>
  <% end %>
</ul>

<h2>Select a target player and color</h2>
<form method="post" action="/process_turn" >
  <label for="player_name">Target Player</label>
  <select name="player_name" id="player_name">
    <% other_players.each do |player| %>
      <option value="<%= player.name %>"><%= player.name %></option>
    <% end %>
  </select>
</form>
